<div class="entry">
  <h3> <%= link_to entry.word, entry_path(entry) %> </h3>
  <h4><%= entry.word %> </h4>
  <p>Definition: <%= entry.definition %> </p>
  <p>Language: <%= entry.language %></p>
</div>
